extends ../../../views/layout 

block append stylesheets
  link(rel='stylesheet', type='text/css', href='/apps/3nf/css/additional.css')
 
 
block content 
    div(class="main-wrapper" role="main") 
 
        include ../../../views/errors.pug 
        include ../../../views/success.pug 

        div(class="container main-content-container")
            h1#app-title 3NF-Trainer
            form(
            id='3nf_markViolatingColumnsTask'
            class=''
            method='post'
            action='/apps/3nf/findFuncDepenTask'
            )
                - var actualSubtask = subtask[0]

                - var actualTask = task[0]

                          div(class="panel panel-default")
                            div(class="panel-heading")
                              h3(class="panel-title") Aufgabe 1.1:
                              br
                              div(class="pull-left")
                                h3(class="panel-title") Frage: !{actualSubtask.aufgabentext}
                              div(class="pull-right")
                                h3(class="panel-title") Schema-Nummer: !{task_nr}
                              .clearfix
                            div(class="panel-body")
                                h5 Hilfstext: 
                                p !{actualTask.aufgabentext}
                                br
                                button(onclick="hideTable()" type="button" class='btn btn-warning' id="btnTabelleAusblenden") Tabelleninhalt ausblenden
                                br
                                br
                                div
                                  .table-responsive
                                    table(class="table table-striped table-bordered")
                                        tr
                                          each element in keys
                                              th #{element.charAt(0).toUpperCase() + element.slice(1)}
                                        each element in tasktable
                                          tr(class="trToHide")
                                            each attribute in element
                                              td !{attribute}

                                  center
                                    
                                    br

                                    h1 Ihre Antwort:
                                    p Erklärung: Ziehen Sie alle Kästchen der betreffenden Spalte in den grauen Kasten.
                                    br
                                    button(onclick="showSampleSolution()" type="button" class='btn btn-warning' id="btnSampleSolution") Musterlösung einblenden
                                    br
                                    br
                                    div(class="sampleSolution")
                                      div(class="alert alert-success" role="alert")
                                        h4 Musterlösung:
                                        h5 Folgende Spalten verletzen die Normalform:
                                        - var counter = 1
                                        div(class="alert alert-info" role="alert")
                                          each element in solutionClear
                                            p #{counter + ". Element: " + element.loesung}
                                            - counter = counter + 1

                                    .row
                                      .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        div(class="solution")
                                            each element in keys
                                                div(class="draggable drag-drop" id="yes-drop") #{element.charAt(0).toUpperCase() + element.slice(1)}
                                            br
                                            br
                                            div(id="outer-dropzone" class="dropzone primary_key_dropzone")
                                    
                                    br
                                    button(type='submit' class='btn btn-primary') 
                                      h5 Ergebnis auswerten

                                    div(id="valueHolderInputCount" value=""+ i +"")
                                    div(id="valueHolderSolution" value=""+ solution +"")
block append foot_scripts 
    script(src='/apps/3nf/js/main.js')
    script(src='/apps/3nf/js/interact.js')
    script(src='/apps/3nf/js/markViolatingColumnsTask.js')
    script(src='/apps/3nf/js/sampleSolution.js')